.App {
  text-align: center;
}
.top-curve{
  display: flex;
  flex-direction: column;
}
h1{
  color:#0099ff;
  text-align: center;
  margin-bottom: 100px;
}

.bottom-curve{
  height: 75%;
}

.card{
  margin-top: 50px;
}

.top-curve{
  display: flex;
  flex-direction: column;
}
h1{
  color:#0099ff;
  text-align: center;
  margin-bottom: 100px;
}

.bottom-curve{
  height: 75%;
}

.button{
  text-align: center;
}

.video-first-col{
  background-color: #0099ff;
}






